.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}

.origin {
  margin-bottom: 5px;
}
.form-input {
  width: 100%;
  padding: 20px 10px;
  box-shadow: 0px 5px 10px rgb(194, 189, 189);
  background-color: #f0592b;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  position: relative;
}

.warning {
  color: black;
  background-color: rgb(235, 235, 13);
  padding: 10px 40px;
  border-radius: 4px;
  margin-left: 210px;
  width: 50%;
  border-left: 4px solid rgb(143, 153, 4);
}

.warning.show {
  animation: drown_warning 1s ease forwards;
}

.warning.close {
  display: none;
}

@keyframes drown_warning {
  0% {
    transform: translateY(100%);
  }
  40% {
    transform: translateY(-20%);
  }
  80% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(0px);
  }
}
@media only screen and (max-device-width: 700px) {
  .container {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    display: flex;
  }
  .form-input {
    align-items: center;
    justify-content: center;
    background-color: red;
    flex-wrap: wrap;
  }

  .warning {
    margin-left: 0px;
  }

  .form-input button {
    margin: 20px;
    background-color: white;
  }

  .form-input input {
    margin: 0px;
  }

  .form-input select {
    padding: 10px;
    margin: 5px;
  }

  .form-input option {
    font-family: "Montserrat", sans-serif;
    margin: 5px;
  }

  .alert {
    padding: 20px 30px;
  }
}

label {
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
}

input {
  border: 0;
  margin: 0 10px;
  width: 200px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

select,
input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

button {
  border: 0;
  border-radius: 5px;
  margin-left: 20px;
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 10px;
}

button:hover {
  background-color: rgb(228, 207, 207);
}

select {
  margin: 0 10px;
  border: 0;
  width: 200px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
}

option {
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.header {
  width: "100%";
  height: 100px;
  display: flex;
  padding: 10px;
  align-items: center;
}

.header a img {
  height: 50px;
}

.lds-dual-ring {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-top: 200px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.first-render {
  display: flex;
  height: 300px;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.first-render p {
  color: rgb(128, 125, 125);
  text-align: center;
  font-size: 40px;

  font-family: "Montserrat", sans-serif;
}

.alert {
  color: #fff;
  background-color: #e8273b;
  padding: 20px 40px;
  position: absolute;
  right: 0;
  top: 10px;
  border-radius: 4px;
  border-left: 4px solid rgb(105, 4, 4);
}

.alert.show {
  animation: show_slide 1s ease forwards;
}

.alert.close {
  display: none;
}

@keyframes show_slide {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-10%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(10px);
  }
}
