@media only screen and (max-device-width: 700px) {
  .card {
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    position: relative;
    width: 350px;
    margin: 10px 0;
    box-shadow: 0px 5px 15px grey;
  }
}

.card {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  position: relative;
  width: 350px;
  margin: 10px 0;
  box-shadow: 0px 5px 15px grey;
}

img {
  width: 100%;
}

.content {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: rgba(17, 17, 17, 0.5);
}

h3,
p {
  color: white;
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-weight: bold;
}
